doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/amcharts/amcharts.js')
    script(src='/javascripts/amcharts/serial.js')
    script(src='/javascripts/frontend.js')